@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root {
	/* Colors */

	/* Primary */
	/* (main background) */
	--Very-dark-blue: hsl(233, 47%, 7%);
	/* (card background) */
	--Dark-desaturated-blue: hsl(244, 38%, 16%);
	/* (accent) */
	--Soft-violet: hsl(277, 64%, 61%);

	/* Neutral */
	/* (main heading, stats) */
	--White: hsl(0, 0%, 100%);
	/* (main paragraph) */
	--Slightly-transparent-white-p: hsla(0, 0%, 100%, 0.75);
	/* (stat headings) */
	--Slightly-transparent-white-stat: hsla(0, 0%, 100%, 0.6);
}
/* General */
body {
	background-color: var(--Very-dark-blue);
	color: var(--White);
	font: size 15px;
	font-family: 'Inter', sans-serif;
	line-height: 1.6;
	display: grid;
	place-items: center;
}

img {
	max-width: 100%;
	height: auto;
}

/* Card */

.card {
	background-color: var(--Dark-desaturated-blue);
	border-radius: 10px;
	margin: 70px 20px;
	overflow: hidden;
}

/* Card Header */

.card-header {
	height: 250px;
	background: linear-gradient(
			0deg,
			hsla(277, 64%, 61%, 0.6),
			hsla(277, 64%, 61%, 0.6)
		),
		url(./images/image-header-mobile.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

/* Card Content */
.card-content {
	text-align: center;
	padding: 10px 30px 10px 30px;
	margin-bottom: 20px;
	font-family: 'Inter', sans-serif;
}

.heading {
	font-size: 1.9rem;
	font-family: 'Lexend Deca', sans-serif;
	color: var(--White);
}

.violet {
	color: var(--Soft-violet);
}

.card-content p {
	color: var(--Slightly-transparent-white-p);
}

/* Stats. */
.stats {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.row {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
	text-transform: uppercase;
	font-family: 'Lexend Deca', sans-serif;
	font-size: 0.7rem;
	color: var(--Slightly-transparent-white-stat);
}
.num {
	color: var(--White);
	margin-bottom: 10px;
	font-size: 1.3rem;
	font-weight: 700;
}

/* Bigger screens */

@media (min-width: 768px) {
	.card {
		background-color: var(--Dark-desaturated-blue);
		border-radius: 10px;
		display: flex;
		flex-direction: row-reverse;
		padding: 0;
	}

	/* Card Header */

	.card-header {
		height: auto;
		background: linear-gradient(
				0deg,
				hsla(277, 64%, 61%, 0.6),
				hsla(277, 64%, 61%, 0.6)
			),
			url(./images/image-header-desktop.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		flex: 1 1 100%;
	}

	/* /* Card Content */
	.card-content {
		text-align: left;
		padding: 50px;
		margin-bottom: 20px;
		font-family: 'Inter', sans-serif;
	}

	/* Stats. */
	.stats {
		flex-direction: row;
		justify-content: flex-start;
		margin-top: 4rem;
	}

	.row {
		margin-right: 5vw;
		align-items: flex-start;
	}
}

/* Attribution */
.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
